<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <div>
    <h2>MusicApp</h2>
    <ul>
    <% if logged_in? %>
      <li><%="logged in"%></li>
      <% else %>
      <li><%="log in to use full site"%></li>
    <% end %>
    </ul>
  </div>


    <%= yield %>
  </body>
</html>
